[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
joblib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
